<%= form_for(user, html: { class: 'h-adr' }) do |f| %>
  <span class="p-country-name" style="display:none;">Japan</span>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :postal_code %>
    <%= f.text_field :postal_code, class: 'p-postal-code' %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address, class: 'p-region p-locality p-street-address p-extended-address' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
